

<div layout="row" layout-wrap>
 <div flex="33">
   <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
     <md-toolbar class="md-theme-indigo">
       <h1 class="md-toolbar-tools">Sidenav Left</h1>
     </md-toolbar>
     <md-content class="md-padding">
       <md-button ng-click="close()" class="md-primary" hide-gt-md>
         Close Sidenav Left
       </md-button>
       <p hide-md show-gt-md>

       </p>
     </md-content>
   </md-sidenav>
 </div>
  <div flex="33">
    <div ng-repeat="country in countries">
      {{country.name}}
    </div>
  </div>
  <div flex="33">
    [flex]
  </div>
</div>
<!--<div class="jumbotron">-->
  <!--<h1>'Allo, 'Allo!</h1>-->
  <!--<p class="lead">-->
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
    <!--Always a pleasure scaffolding your apps.-->
  <!--</p>-->
  <!--<p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>-->
<!--</div>-->

<!--<div class="row marketing">-->
  <!--<h4>HTML5 Boilerplate</h4>-->
  <!--<p>-->
    <!--HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.-->
  <!--</p>-->

  <!--<h4>Angular</h4>-->
  <!--<p>-->
    <!--AngularJS is a toolset for building the framework most suited to your application development.-->
  <!--</p>-->

  <!--<h4>Karma</h4>-->
  <!--<p>Spectacular Test Runner for JavaScript.</p>-->
<!--</div>-->
